PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/trailops
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_EXPIRES_IN=7d
